<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Page Not Found </title>
    <link rel="stylesheet" href="/stylesheets/404style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');</style>

</head>
<%- include('partials/header') %>
<body>
    <h1> 404 (NOT FOUND) </h1>
    <h2> Looking for could not be found is the page you seek.</h2>
    <div>
        <div class="gifdiv">
            <img src="/stylesheets/images/jedi mind trick.gif"></a>
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>