<!-- views/characters/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StarWars Character Index</title>
  </head>
  <body>
    <h1>All Characters</h1>
    <ul>
        <% characters.forEach(Character => { %>
            <li><a href="/characters/<%= Character._id %>"><%= Character.name %></a></li>
        <% }) %> 
    </ul>
  </body>
</html>
