<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>THE NEW PAGE</h1>
    <form action="/characters" method="POST">
        <label for="name">Character Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="jediPowers">Jedi Powers</label>
        <input type="text" name="jediPowers" id="jediPowers">
        <br>
        <label for="darkSide">Dark Side</label>
        <input type="text" name="darkSide" id="darkSide">
        <br>
        <label for="greed">Greed</label>
        <input type="text" name="greed" id="greed">
        <br>
        <label for="courage">Courage</label>
        <input type="text" name="courage" id="courage">
        <br>
        <label for="flyingSkills">Flying Skills</label>
        <input type="text" name="flyingSkills" id="flyingSkills">
        <br>
        <label for="hallOfFame">Hall of Fame</label>
        <input type="text" name="hallOfFame" id="hallOfFame">
        <br>
        <label for="forceUser">Force User</label>
        <input type="checkbox" name="forceUser" id="forceUser">
        <br>
        <button type="submit">Add Character</button>
    </form>
</body>
</html>